.main{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.big-banner {
   margin-top: 4em;
   min-height: 100%;
   min-width: 1024px;

   width: 100%;
   height: 100%;

   position: absolute;
   z-index: -4;
   top: 0;
   left: 0;
   border: 0;
}
.main-sub-3 {
    display: flex;
    justify-content: center;
    position: absolute;
    padding: 0px 10px 10px 0px;
    top: 100%;
    border: 2px solid blue;
    width: 100%;
    margin-top: 4em;
}
.main-subs {
    display: flex;
    position: relative;
    margin: 5px -10px 5px -10px;
    border: 2px solid purple;
    cursor: pointer;
    width: 421px;
    height: 266px;
}
.main-subs:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: background .3s linear;
}
.main-subs:hover:before {
    background: none;
}
.img-src {
    height: auto;
    width: 100%;
    background-attachment: fixed;
    opacity: 1.5;
}
.back-box {
    position: absolute;
    width: 100%;
    /* max-height: 100%; */
    /* height: auto; */
    height: 500px;
    z-index: -5;
}
.box-inside{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    color: white;
    margin-top: 125px;
    margin-left: 36px;
}
.box-inside h1 {
    font-weight: 900;
    width: 300px;
}
.route {
    font-size: 12px;
    font-weight: 500;
}
.fa-arrow-right {
    margin-left: 10px;
}
.pops {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    font-weight: 800;
    margin-top: 37em;
    max-width: 100%;
}
.season {
    font-weight: 300;
    margin-left: 10px;
}
.links-div {
 display: flex;
 justify-content: space-around;
 width: 20%;
 /* align-items: center; */
 align-self: center;
 font-size: 12px;
 margin-top: 15px;
}
.links-nav {
    color: black;
    font-weight: 500;
}